
<div class="d-flex  justify-content-center">
  <div class="btn-group m-2 w-40" role="group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" [checked]="path === '/home'">
    <label class="btn btn-outline-primary" for="btnradio1" [routerLink]="['/home']">Home</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" [checked]="path === '/watchlist'">
    <label class="btn btn-outline-primary" for="btnradio3" [routerLink]="['/watchlist']">Watchlist</label>
  </div>
</div>


<router-outlet></router-outlet>
